:root{
    --main-bg-color: #425aa8;
    --main-window-color:#7faafa;
    --main-accent-color: #e9d988
}

body{
    background-color:black;
    height:100%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

.isblurred{
    filter:blur(20px);
}

.gamewindow{
    position:fixed;
    margin:0px;
    background-color: var(--main-window-color);
    border-radius: 5px;
    box-shadow: 0px 4px 4px var(--main-bg-color);
    color:#030303;
    box-sizing: border-box;
    transition:.3s;
    
}

.mainwindow{
    position:fixed;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:0;
}

.gameheader{
    display:flex;
    text-align:center;
    background-color: var(--main-window-color);
    align-items: center;
    justify-content: center;
    left:40px;
    height:40px;
    margin: auto;
    font-size: 16px;
    margin:10px;
}

.verse{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    background-color: var(--main-window-color);
    overflow-x: hidden;
    overflow-y: auto;

    top: 50px;
    left:0;
    bottom: 310px;
    font-size: 16px;
    line-height: 1.5;
    margin:10px;
    padding:10px;
}

.bookinput{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--main-window-color);

    height: 300px;
    bottom: 0;
    left:0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    margin:10px;
}

#settings{
    display:flex;
    background-color: var(--main-window-color);
    text-align:center;
    align-items: center;
    justify-content: center;
}

.gamebutton{
    background-color: #e9d988;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px var(--main-bg-color);
    transition: 0.3s;
    color: #333333;
    font-size:20px;
}

.gamebutton:hover{
    box-shadow: 0px 4px 8px var(--main-bg-color);
    background-color: #f1e4a3;
}

.gamebutton:active{
    background-color:#af9d40;
    box-shadow: 0 4px 2px;
    border: none;
}

.chapterinput{
    vertical-align:center;
    display:none;
    grid-template-columns:repeat(auto-fit,minmax(65px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--main-window-color);
    bottom:0;
    left:0;
}

#startgamepanel-outer{
    z-index:1;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:none;
}

#startgamepanel-inner{
    display:flex;
    position:fixed;
    flex-direction:column;
    vertical-align:middle;
    margin:auto;
    padding:10px;
    text-align:center;
    align-items:center;
    height:30%;
    width:30%;
    z-index: 1;
    background-color: #9bc9fd;
    box-shadow: 0 0 4px var(--main-bg-color);
    border: 3px solid var(--main-bg-color);
}

#startGameButton{
    width:100%;
    top:160px;
    margin:auto;
    font-size:20px;
    line-height:60px;
}

.welcometext{
    width:100%;
    text-align:center;
    margin:auto;
    font-size:20px;
    line-height:40px;
    background-color: #e9d988;
    border-radius: 5px;
    box-shadow: 0px 4px 4px var(--main-bg-color);
    box-sizing: border-box;
}

#newgamebutton{
    box-shadow: 0 4px 4px var(--main-bg-color);
}

#aboutbutton{
    height:50px;
    box-shadow: 0 4px 4px var(--main-bg-color);
}

hr{
    border: 2px solid var(--main-bg-color);
}

#gamelog{
    display:flex;
    padding:10px;
    line-height:1.5;
    align-items:center;
    text-align:center;
    justify-content:center;
}

/* portrait mode for devices (phones, 992px and down) portriat */
@media only screen and (max-width: 992px) and (orientation:portrait) {

    .mainwindow{
        border-radius:0;
    }

    .gameheader{
        right:100px;
        left: 50px;
        height: 40px;
    }

    .verse{
        right:170px;
        bottom: 310px;
        top: 50px;
        font-size: 16px;
        margin:10px;
        padding:10px;
    }

    .welcometext{
        font-size:16px;
        line-height:1;
        padding:10px;
    }

    #startGameButton{
        font-size:16px;
        line-height:1;
        padding:10px;
    }

    .bookinput{
        right:0;
        height:300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding:10px;
        margin:10px;
    }

    .chapterinput{
        right:0;
        height:300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding:10px;
        margin:10px;
    }

    .BookButton{
        font-size: 12px;
    }

    .chapterbutton{
        font-size: 12px;
    }

    #settings{
        position:fixed;
        width:40px;
        height:40px;
        right:0;
        font-size: 14px;
        line-height: 14px;
        margin:10px;
    }

    #newgamebutton{
        position:fixed;
        width:40px;
        height:40px;
        right:50px;
        font-size: 14px;
        line-height:14px;
        margin:10px;
    }

    #aboutbutton{
        position:fixed;
        width:40px;
        height:40px;
        left:0;
        font-size: 14px;
        line-height:14px;
        margin:10px;
    }

    #gamelog{
        right:0;
        bottom:310px;
        top:50px;
        width:160px;
        margin:10px;
        padding:10px;
        font-size:16px;
    }

    #startgamepanel-inner{
        width:80%;
        height:120px;
        left:30px;
        right:30px;
    }
}


/* landscape mode for phones and tablets */
@media only screen and (max-width: 992px) and (orientation:landscape) {

    .mainwindow{
        border-radius:0;
    }

    .gamewindow{
        border-radius:3px;
    }

    .gameheader{
        right:80px;
        left: 40px;
        height: 35px;
        margin: 5px;
    }

    .verse{
        right:210px;
        bottom: 120px;
        top: 40px;
        font-size: 20px;
        margin:5px;
        padding:5px 10px;
        font-size:14px;
    }

    .welcometext{
        font-size:16px;
        line-height:1;
        padding:5px;
    }

    #startGameButton{
        font-size:16px;
        line-height:1;
        padding:5px;
        margin:5px;
    }

    .bookinput{
        right:0;
        height:115px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding:5px;
        margin:5px;
    }

    .chapterinput{
        right:0;
        height:115px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding:5px;
        margin:5px;
    }

    .BookButton{
        font-size: 12px;
    }

    .chapterbutton{
        font-size: 12px;
    }

    #settings{
        position:fixed;
        width:35px;
        height:35px;
        right:0;
        font-size: 14px;
        line-height: 14px;
        margin:5px;
    }

    #newgamebutton{
        position:fixed;
        width:35px;
        height:35px;
        right:40px;
        font-size: 14px;
        line-height:14px;
        margin:5px;
    }

    #aboutbutton{
        position:fixed;
        width:35px;
        height:35px;
        left:0;
        font-size: 14px;
        line-height:14px;
        margin:5px;
    }

    #gamelog{
        right:0;
        bottom:120px;
        top:40px;
        width:205px;
        margin:5px;
        padding:5px 5px;
        font-size:14px;
    }

    #startgamepanel-inner{
        width:80%;
        height:120px;
        left:30px;
        right:30px;
    }

    .gamebutton{
        border-radius:3px;
    }
}


/* large devices (landscape tablets, laptops, desktops, etc 992px and up) */
@media only screen and (min-width: 992px) {

    .gameheader{
        right:210px;
        height: 50px;
        font-size: 20px;
        left: 60px;
    }

    .verse{
        top: 60px;
        right:520px;
        font-size: 20px;
        line-height: 1.5;
        margin:10px;
        padding:20px 25px;
    }

    .bookinput{
        right:210px;
    }

    .chapterinput{
        height: 300px;
        bottom: 0;
        left:0;
        right:210px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px;
        margin:10px;
    }

    .BookButton{
        font-size: 18px;
    }

    #settings{
        position:fixed;
        width:200px;
        top: 60px;
        right:0;
        bottom:0;
        font-size: 16px;
        line-height: 16px;
        margin:10px;
    }

    #newgamebutton{
        position:fixed;
        width:200px;
        height:50px;
        right:0;
        font-size: 16px;
        line-height:16px;
        margin:10px;
    }

    #aboutbutton{
        position:fixed;
        width:50px;
        height:50px;
        left:0;
        font-size: 16px;
        line-height:16px;
        margin:10px;
    }

    #gamelog{
        width:300px;
        top:60px;
        bottom:310px;
        right:210px;
        margin:10px;
        padding:20px 25px;
        font-size:20px;
    }
}